<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>
    </div>
    <div class="aside-dialog">
        <div class="aside-body bs-sidebar">
            <form class="form-floating caterfull-form" ng-submit="saveItem(item)" novalidate="novalidate">
                <div ng-controller="WorkersController">
                    <div class="table-responsive well no-padding white no-margin">
                        <h3 class="table-title">{{ data.length }} {{ settings.plural }} disponibles </h3>
                        <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
                            <thead>
                            <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
                                <th><input type="checkbox" class="relative" ng-model="selectAll" ng-click="checkAll()"/>
                                </th>
                                <th fsm-sort="puesto">Nombre</th>
                                <th fsm-sort="puesto">Apellidos</th>
                                <th fsm-sort="puesto">Puesto de Trabajo</th>
                            </tr>
                            </thead>
                            <tbody>
                          <tr ng-repeat="(key, item) in data" ng-click="item.selected=!item.selected"
                                ng-dblclick="editItem(item)">
                                <td><input type="checkbox" class="relative" ng-model="item.selected"
                                           ng-click="$event.stopPropagation()"/></td>
                                <td>
                                    {{ item.name }}
                                </td>
                                <td>
                                    {{ item.last_name }}
                                </td>
                                <td>
                                    <span ng-show="positions">{{ item.position.description }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary" ng-hide="!item.editing"
                            ng-click="saveAndAdd(false)">Save
                    </button>
                </div>
                </div>

            </form>
        </div>
    </div>
</div>