{% load staticfiles %}
{% extends 'base_angular_static.html' %}


{% block title %}Login{% endblock %}
{% block body %}
<body class="page-error">
<div class="center">
  <div class="card bordered z-depth-2"  style="margin:0% auto; max-width:400px;">
    <div class="card-content">
      <div class="m-b-30 text-center">
        <i class="md md-cancel error-icon"></i>
        <h1 class="pink-text uppercase">404</h1>
        <p class="card-title-desc">We're sorry, but the page you are looking for seems to be astral traveling in the fifth dimension.</p>
      </div>
    </div>
    <div class="card-action clearfix">
      <div class="text-center">
        <a href="javascript:window.close();" class="btn btn-primary btn-block">Back to the homepage</a>
      </div>
    </div>
  </div>
</div>

{% block js_bottom %}
    <script charset="utf-8" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
 {% endblock %}
</body>
{% endblock %}

