{% extends 'base2.html' %}
{% load staticfiles %}
{% load i18n admin_static %}

{% block title %} {% if id %}Editar{% else %}Nuevo{% endif %}  {{ model }} {% endblock %}


{% block content_header %}
    <h1>
        <i class="fa fa-inbox"></i> {% if id %}Editar{% else %}Nuevo{% endif %}  {% if model == 'proposal' %}
        presupuesto{% else %} {% endif %}
        {#        {{ model }}#}
        <small class="hidden-xs">{% if id %}Editar un presupuesto{% else %}Crear un nuevo {{ model }}{% endif %}</small>
    </h1>
    <ol class="breadcrumb no-print">
        <li><a href="#"><i class="fa fa-inbox"></i> Home</a></li>
        {% if  model == 'proposal' %}
            <li><a href="{% url 'proposal_list' %}">Presupuesto</a></li>
        {% elif model == 'invoice' %}
            <li><a href="{% url 'invoice_list' %}">Factura</a></li>
        {% endif %}

        <li class="active">{% if id %}Editar{% else %}Nuevo{% endif %} </li>
    </ol>
{% endblock %}
{% block main_content %}
    {#    {{ model }}#}
    {#  data-items-cant="{% if proposal %} {{ proposal.get_items | length }} {% endif %}"#}
    <input type="hidden" id="current_url" value="
    {% if model == 'proposal' %}
                {% if id %}
                {% url 'proposal_event_edit' id %}
            {% else %}
                {% url 'proposal_event_create' %}
            {% endif %}

    {% elif model == 'invoice' %}
       {% if id %}
                {% url 'invoice_event_edit' id %}
            {% else %}
                {% url 'invoice_event_create' %}
            {% endif %}

    {% endif %}
            "/>


    <div id="fuelux-wizard-container">
        <div>
            <ul class="steps">
                <li class="event"
                    data-step="1"
                    data-url="{% url 'proposal_event_create' %}"
                    data-next-url=""
                    data-event-id="{% if event %}{{ event.id }}{% else %}-1{% endif %}">
                    <span class="step">1</span>
                    <span class="title">Datos del evento</span>
                </li>

                <li class="items" data-step="2"
                    data-url="/{% if model == 'proposal' %}proposal{% else %}invoice{% endif %}/"
                    data-event-id="{% if event %}{{ event.id }}{% else %}-1{% endif %}">
                    <span class="step">2</span>
                    <span class="title">Items</span>
                </li>

                <li class="confirm" data-step="3">
                    <span class="step">3</span>
                    <span class="title">Confirmación</span>
                </li>

            </ul>
        </div>

        <hr/>
    </div>
    <div class="step-content pos-rel">
        <div class="step-pane" data-step="1">
            <div class="container">
                <h3 class="lighter block green">Especifique los datos del evento</h3>
            </div>
            <div id="stepContainer1">
                {#                                {% include 'base/invoice/wizard/event_step.html' %}#}
            </div>


        </div>

        <div class="step-pane hidden" data-step="2">
            <div class="container">
                <h3 class="lighter block green">Items</h3>
            </div>
            <div id="stepContainer2">

            </div>
        </div>

        <div class="step-pane hidden" data-step="3">
            <div class="container">
                <h3 class="lighter block green">Confirmación</h3>
            </div>
            <div id="stepContainer3">

            </div>
        </div>


    </div>
    <hr/>
    <div class="wizard-actions clearfix">
        <div class="pull-right ">

            <button class="btn btn-prev" disabled="disabled">
                <i class="ace-icon fa fa-arrow-left"></i>
                Anterior
            </button>
            {% if editting %}
               <button id="save_edit_event" class="btn btn-save btn-warning" >
                <i class="ace-icon fa fa-save"></i>
                Guardar
            </button>
            {% endif %}
             <button class="btn btn-success btn-next finish">
                <span>Siguiente</span>
                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
            </button>

            <a class="btn btn-success btn-next send hidden" href="">
                <span>Finalizar y enviar</span>
                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
            </a>


            {#              <button class="btn btn-default btn-cancel">#}
            {#                <span>Cancelar</span>#}
            {##}
            {#            </button>#}
        </div>
    </div>
    <input type="hidden" name="model_name" id="model_name" value="{{ model }}"/>

    <script type="text/javascript" src="{% static 'base/js/invoice/event.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/invoice/item.js' %}"></script>
<script>
var editar = false;
    {% if editing %}
        editar= true
    {% endif %}
</script>
{% endblock %}