{% extends 'base/password_reset.html' %}
{% load staticfiles %}
{% load i18n admin_static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %} Password reset {% endblock %}
{% block pass_reset_description %}




    {% if validlink %}

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>




        <form method="post">{% csrf_token %}

            <div class="form-group has-feedback {% if form.new_password1.errors %} has-error {% endif %}">
                <label class="roboto">{% trans 'New password' %}</label>
                {% render_field form.new_password1 class="form-control " %}
                <span class="fa fa-lock form-control-feedback" id="ënvelope-feed"></span>
                {% for error in  form.new_password1.errors %}
                    <div class="text-validation-error"><i class="fa fa-warning"></i> {% trans error %} </div>
                {% endfor %}
            </div>

            <div class="form-group has-feedback {% if form.new_password2.errors %} has-error {% endif %}">
                <label class="roboto">{% trans 'Confirm password' %}</label>
                {% render_field form.new_password2 class="form-control " %}
                <span class="fa fa-lock form-control-feedback" id="ënvelope-feed"></span>
                {% for error in  form.new_password2.errors %}
                    <div class="text-validation-error"><i class="fa fa-warning"></i> {% trans error %} </div>
                {% endfor %}
            </div>


            <div class="row">
                <div class=" col-xs-8 pull-right ">
                    <button type="submit"
                            class="btn btn-success btn-block btn-flat">{% trans 'Change my password' %}</button>
                </div>
            </div>


            {#            {{ form.new_password1.errors }}#}
            {#            <p class="aligned wide"><label#}
            {#                    for="id_new_password1"></label>{{ form.new_password1 }}</p>#}
            {#            {{ form.new_password2.errors }}#}
            {#            <p class="aligned wide"><label#}
            {#                    for="id_new_password2"></label>{{ form.new_password2 }}</p>#}

            {#            <p><input type="submit" value="{% trans 'Change my password' %}"/></p>#}
        </form>

    {% else %}

        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}

