{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n admin_static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %} Password reset {% endblock %}
{% block content %}

    <div class="login-page">
        <div class="login-box">
            <div class="login-logo-img">
                <a href="#"><img src="{% static 'images/logo-large.png' %}" alt=""/></a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg "><strong class="text-caterfull">Password </strong> reset</p>

                {% block pass_reset_description %}
                    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>


                    <form method="post">{% csrf_token %}
                        <div class="form-group has-feedback {% if form.email.errors %} has-error {% endif %}">
                            <label class="roboto">{% trans 'Email address' %}</label>
                            {% render_field form.email class="form-control " %}
                            <span class="fa fa-envelope form-control-feedback" id="ënvelope-feed"></span>
                            {% for error in  form.email.errors %}
                                <div class="text-validation-error"><i class="fa fa-warning"></i> {% trans error %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class=" col-xs-8 pull-right ">
                                <button type="submit"
                                        class="btn btn-success btn-block btn-flat">{% trans 'Reset my password' %}</button>
                            </div>
                        </div>

                    </form>
                {% endblock %}

            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
    </div><!-- /.login-box -->







{% endblock %}
